<template>
  <v-app white>
    <v-navigation-drawer
      v-model="drawer"
      :mini-variant="miniVariant"
      :clipped="clipped"
      fixed
      app
    >
      <center>{{administrador.nombre}}</center>
      <v-list>
        <v-list-tile
          v-for="(item, i) in items"
          :key="i"
          :to="item.to"
          router
          exact
        >
          <v-list-tile-action>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title v-text="item.title" />
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>
    <v-toolbar
      :clipped-left="clipped"
      fixed
      app
    >
      <v-toolbar-side-icon @click="drawer = !drawer" />
      <v-toolbar-title v-text="title" />
      <v-spacer />
      <v-btn
        icon
        @click="logout"
      >
        <v-icon>close</v-icon>
      </v-btn>
    </v-toolbar>
    <v-content>
      <v-container>
        <nuxt />
      </v-container>
    </v-content>
    <v-navigation-drawer
      v-model="rightDrawer"
      :right="right"
      temporary
      fixed
    >
      <v-list>
        <v-list-tile @click.native="right = !right">
          <v-list-tile-action>
            <v-icon light>compare_arrows</v-icon>
          </v-list-tile-action>
          <v-list-tile-title>Switch drawer (click me)</v-list-tile-title>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>
    <v-footer
      :fixed="fixed"
      app
    >
      <span>&copy; Escandon - Coronel 2019</span>
    </v-footer>
  </v-app>
</template>

<script>
import confirm from '../components/confirm.vue';
import { mapState, mapActions, mapMutations } from 'vuex'

export default {
  components: {
    confirm
  },
  data() {
    return {
      clipped: false,
      drawer: false,
      fixed: false,
      items: [
        {
          icon: 'account_box',
          title: 'Usuarios',
          to: '/usuarios'
        },
        {
          icon: 'note',
          title: 'Marcaciones',
          to: '/marcaciones'
        },
        {
          icon: 'arrow_back',
          title: 'Entradas',
          to: '/entradas'
        },
        {
          icon: 'arrow_forward',
          title: 'Salidas',
          to: '/salidas'
        },
        {
          icon: 'keyboard_arrow_right',
          title: 'Salida de almuerzo',
          to: '/salida_almuerzo'
        },
        {
          icon: 'keyboard_arrow_left',
          title: 'Regreso de almuerzo',
          to: '/regreso_almuerzo'
        }
      ],
      dialog: false,
      miniVariant: false,
      right: true,
      rightDrawer: false,
      title: 'Administrador'
    }
  },
  methods: {
    ...mapActions([
      'action_logout'
    ]),
    ...mapMutations([
      'cleanStates'
    ]),
    logout() {
      this.$swal({
        title: "¿Esta seguro de cerrar sesión?",
        type: 'error',
        showCancelButton: true,
      }).then((result) => {
        if (result.value) {
          this.action_logout()
          this.cleanStates()
          this.$router.push("/")
        }
      })
    }
  },
  computed: {
      ...mapState([
        'administrador'
      ]),
  }
}
</script>
