<template>
  <v-card>
    <v-toolbar flat color="white">
      <v-toolbar-title>Salida de almuerzo</v-toolbar-title>
      <v-divider
        class="mx-2"
        inset
        vertical
      ></v-divider>
      <div class="flex-grow-1"></div>
      <v-spacer></v-spacer>
    </v-toolbar>
    <v-data-table
      :headers="headers"
      :items="salidas_almuerzo"
      class="elevation-1"
    >
      <template v-slot:items="props">
        <td>{{ props.item.usuario.nombre }}</td>
        <td class="text-xs-right">{{ props.item.huella_id }}</td>
        <td class="text-xs-right">{{ props.item.creado_en.substr(0, 19) }}</td>
        <td class="text-xs-right">{{ props.item.usuario._id }}</td>


      </template>
    </v-data-table>
    <v-btn @click="send()">Enviar reporte al correo</v-btn>
  </v-card>
</template>


<script>

import { mapState, mapActions } from 'vuex'

export default {
  middleware: 'authenticated',
  
  data: () => ({
      dialog: false,
      headers: [
        {
          text: 'Nombre',
          align: 'left',
          sortable: false,
          value: 'usuario.nombre'
        },
        { text: 'Huella', value: 'huella_id' },
        { text: 'Fecha', value: 'creado_en' },
        { text: 'UsuarioID', value: 'usuario._id' },
      ]
    }),

    computed: {
      ...mapState([
        'salidas_almuerzo',
        
      ])
    },

    async created () {
      await this.conseguirSalidaAlmuerzo()
    },

    methods: {
      ...mapActions([
          'conseguirSalidaAlmuerzo',
          'action_reporte'
      ]),
      async send() {
        await this.action_reporte('salida_almuerzo')
        .then((data) => {
          this.$swal({
            text: data.msg,
            type: 'ok',
            showCancelButton: false,
          })
          
        })
      },

      
    }
}

</script>
