<template>
  <div>
    <v-toolbar flat color="white">
      <v-toolbar-title>Usuarios</v-toolbar-title>
      <v-divider
        class="mx-2"
        inset
        vertical
      ></v-divider>
      <v-spacer></v-spacer>
      <v-dialog v-model="dialog" max-width="500px">
        <template v-slot:activator="{ on }">
          <v-btn color="primary" dark class="mb-2" v-on="on">Nuevo usuario</v-btn>
        </template>
        <v-card>
          <v-card-title>
            <span class="headline">{{ formTitle }}</span>
          </v-card-title>

          <v-card-text>
            <v-container grid-list-md>
              <v-layout wrap>
                <v-flex xs12 sm12 md12>
                  <v-text-field v-model="editedItem.nombre" label="Nombre"></v-text-field>
                </v-flex>
                <v-flex xs12 sm12 md12>
                  <v-text-field v-model="editedItem.cedula" label="Cedula"></v-text-field>
                </v-flex>
                <v-flex xs12 sm12 md12>
                  <v-text-field v-model="editedItem.telefono" label="Telefono"></v-text-field>
                </v-flex>
                <v-flex xs12 sm12 md12>
                  <v-text-field v-model="editedItem.clave" label="Clave"></v-text-field>
                </v-flex>
                <v-flex xs12 sm12 md12>
                  <v-text-field v-model="editedItem.correo" label="Correo"></v-text-field>
                </v-flex>
                <v-flex xs12 sm12 md12>
                  <v-text-field v-model="editedItem.huella_id" label="Huella"></v-text-field>
                </v-flex>
              </v-layout>
            </v-container>
          </v-card-text>

          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="blue darken-1" flat @click="close">Cancel</v-btn>
            <v-btn color="blue darken-1" flat @click="save">Save</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-toolbar>
    <v-data-table
      :headers="headers"
      :items="usuarios"
      class="elevation-1"
    >
      <template v-slot:items="props">
        <td>{{ props.item._id }}</td>
        <td class="text-xs-right">{{ props.item.nombre }}</td>
        <td class="text-xs-right">{{ props.item.huella_id }}</td>
        <td class="text-xs-right">{{ props.item.cedula }}</td>
        <td class="text-xs-right">{{ props.item.telefono }}</td>
        <td class="text-xs-right">{{ props.item.clave }}</td>
        <td class="text-xs-right">{{ props.item.correo }}</td>
        <td class="justify-center layout px-0">
          <v-icon
            small
            class="mr-2"
            @click="editItem(props.item)"
          >
            edit
          </v-icon>
          <v-icon
            small
            @click="deleteItem(props.item)"
          >
            delete
          </v-icon>
        </td>
      </template>
      <template v-slot:no-data>
        <v-btn color="primary" @click="initialize">Reset</v-btn>
      </template>
    </v-data-table>
    <v-btn @click="send()">Enviar reporte al correo</v-btn>
    
  </div>
</template>


<script>

import { mapState, mapActions } from 'vuex'

export default {
  middleware: 'authenticated',
  
  data: () => ({
      dialog: false,
      headers: [
        {
          text: 'ID',
          align: 'left',
          sortable: false,
          value: 'ID'
        },
        { text: 'Nombre', value: 'name' },
        { text: 'Huella', value: 'id' },
        { text: 'Cedula', value: 'calories' },
        { text: 'Telefono', value: 'fat' },
        { text: 'Clave', value: 'carbs' },
        { text: 'Correo', value: 'protein' },
        { text: 'Acciones', value: 'name', sortable: false }
      ],
      editedFlag: false,
      editedItem: {
        _id: '',
        nombre: '',
        cedula: "",
        telefono: "",
        clave: "",
        correo: "",
        huella_id: ""
      }
    }),

    computed: {
      ...mapState([
        'usuarios'
      ]),
      formTitle () {
        return this.editedFlag === false ? 'Nuevo usuario' : 'Editar usuario'
      }
    },

    watch: {
      dialog (val) {
        val || this.close()
      }
    },

    async created () {
      await this.conseguirUsuarios()
    },

    methods: {
      ...mapActions([
          'conseguirUsuarios',
          'agregarUsuario',
          'actualizarUsuario',
          'eliminarUsuario',
          'action_reporte'
      ]),

      async send() {
        await this.action_reporte('usuarios')
        .then((data) => {
          this.$swal({
            text: data.msg,
            type: 'ok',
            showCancelButton: false,
          })
          
        })
      },

      on() {
        this.editedItem = {}
        console.log("Nuevo")
      },

      async editItem (item) {
        this.editedItem = Object.assign({}, item)
        this.dialog = true
        this.editedFlag = true
      },

      async deleteItem (item) {
        this.$swal({
          title: "¿Esta seguro de eliminar usuario?",
          type: 'error',
          showCancelButton: true,
        }).then(async(result) => {
          if (result.value) {
            await this.eliminarUsuario(item._id)
            await this.conseguirUsuarios()
          }
        })
      },

      close () {
        this.dialog = false
        this.editedFlag = false
        this.editedFlag = false
        this.editedItem._id = ''
        this.editedItem.nombre = ''
        this.editedItem.cedula = ""
        this.editedItem.telefono = ""
        this.editedItem.clave = ""
        this.editedItem.correo = ""
        this.editedItem.huella_id = ""
      },

      async save () {
        if (this.editedFlag == true) {
          console.log(this.editedItem)
          await this.actualizarUsuario(this.editedItem)
          await this.conseguirUsuarios()
        } else {
          await this.agregarUsuario(this.editedItem)
          await this.conseguirUsuarios()
        }
        this.editedFlag = false
        this.editedItem._id = ''
        this.editedItem.nombre = ''
        this.editedItem.cedula = ""
        this.editedItem.telefono = ""
        this.editedItem.clave = ""
        this.editedItem.correo = ""
        this.editedItem.huella_id = ""
        this.close()
      }
    }
}
</script>
